<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeChatAppId</key>
	<string>wx45644f210397e898</string>
	<key>WeChatAppKey</key>
	<string>ab74b1a7eda7c261064127af1c7ea3ae</string>
	<key>WeChatRedirectURI</key>
	<string>http://www.dqcc.com.cn</string>
	<key>SinaWeiboAppKey</key>
	<string>2111299879</string>
	<key>SinaWeiboSecret</key>
	<string>2f361ce369ff804ba23cc9b8dfbb34f8</string>
	<key>SinaWeiboRedirectURI</key>
	<string>http://www.dqcc.com.cn</string>
</dict>
</plist>
