<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeChatAppId</key>
	<string>wx31c3d36298b30b57</string>
	<key>WeChatAppKey</key>
	<string>fe9093996e75ea935841c39a2f0c88df</string>
	<key>WeChatRedirectURI</key>
	<string>http://www.dqcc.com.cn</string>
	<key>SinaWeiboAppKey</key>
	<string>2111299879</string>
	<key>SinaWeiboSecret</key>
	<string>2f361ce369ff804ba23cc9b8dfbb34f8</string>
	<key>SinaWeiboRedirectURI</key>
	<string>http://www.dqcc.com.cn</string>
</dict>
</plist>
